@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

:root {
  --color-bg: #EBBAB9;
  --color-text: #34344A;
  --color-accent1: #594157;
  --color-accent2: #97B1A6;
  --color-accent3: #698996;
  --color-white: #ffffff;

  --font: 'Nunito', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  background-color: var(--color-bg);
  color: var(--color-text);
}